# Variables and Simple Data Types

In [2]:
print("hello world")

hello world

In [3]:
message = "hello world"
print(message)

hello world

In [5]:
name = 'faraz'
print(name.title())
print(name.lower())
print(name.upper())

Faraz
faraz
FARAZ

In [11]:
# Combining or concatenating strings

first_name = 'syed'
middle_name = 'faraz'
last_name = 'ali'
print(first_name + middle_name + last_name)
print(('My name is {first}-{middle}-{last}').format(first = first_name, middle = middle_name, last = last_name))

syedfarazali
My name is syed-faraz-ali

In [15]:
full_name = '{first} {middle} {last}'.format(first = first_name, middle = middle_name, last = last_name)

In [16]:
full_name

'syed faraz ali'

In [17]:
print("Hello " + full_name.title() + '!!!')

Hello Syed Faraz Ali!!!

In [22]:
print("Language:\n\tPython\n\tC\n\tJava")

Language:
	Python
	C
	Java

In [26]:
lang = " python "
lang.rstrip()
lang.lstrip()
lang.strip()

'python'

In [31]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# Lists

In [1]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles)

['trek', 'cannondale', 'redline', 'specialized']

In [7]:
bicycles[0].title()

'Trek'

In [9]:
bicycles[-1]

'specialized'

In [11]:
message = "My first bicycle was a {}.".format(bicycles[0].title())
print(message)

My first bicycle was a Trek.

In [20]:
motorcycles = ['honda', 'yamaha', 'suzuki']

In [21]:
print(motorcycles)

['honda', 'yamaha', 'suzuki']

In [22]:
# motorcycles[0] = 'ducati'

In [23]:
print(motorcycles)

['honda', 'yamaha', 'suzuki']

In [24]:
# Appending elementss to the end of a list

In [25]:
motorcycles.append('ducati')

In [26]:
motorcycles

['honda', 'yamaha', 'suzuki', 'ducati']

In [40]:
motorcycles = []
# for i in range(10):
#     motorcycles.append(i)

In [41]:
motorcycles.append('honda')
motorcycles.append('yamaha')
motorcycles.append('suzuki')

In [42]:
motorcycles

['honda', 'yamaha', 'suzuki']

In [44]:
motorcycles.insert(1, 'ducati')

In [47]:
motorcycles

['ducati', 'yamaha', 'suzuki']

In [46]:
del motorcycles[0]

In [63]:
# pop method
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

['honda', 'yamaha', 'suzuki']

In [64]:
popped_motorcycles = motorcycles.pop()

In [65]:
print(motorcycles)

['honda', 'yamaha']

In [66]:
popped_motorcycles

'suzuki'

In [67]:
first_owned = motorcycles.pop(0)

In [68]:
first_owned

'honda'

In [69]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)
too_expensive = 'ducati'
motorcycles.remove(too_expensive)
print(motorcycles)
print("\nA " + too_expensive.title() + " is too expensive for me.")

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

A Ducati is too expensive for me.

In [78]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort()
print(cars)

['audi', 'bmw', 'subaru', 'toyota']

In [79]:
cars

['audi', 'bmw', 'subaru', 'toyota']

In [80]:
cars=['bmw', 'audi', 'toyota', 'subaru']

In [81]:
cars.sort(reverse = True)

In [82]:
cars

['toyota', 'subaru', 'bmw', 'audi']

In [83]:
cars = ['bmw', 'audi', 'toyota', 'subaru']

In [84]:
print("Here is the original list")
print(cars)

Here is the original list
['bmw', 'audi', 'toyota', 'subaru']

In [86]:
print("Here is the sorted list")
print(sorted(cars))

Here is the sorted list
['audi', 'bmw', 'subaru', 'toyota']

In [87]:
print("Here is the original list again:")
print(cars)

Here is the original list again:
['bmw', 'audi', 'toyota', 'subaru']

In [92]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print(cars)

['bmw', 'audi', 'toyota', 'subaru']

In [93]:
cars.reverse()
print(cars)

['subaru', 'toyota', 'audi', 'bmw']

In [95]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
len(cars)

4

In [96]:
cars[-1]

'subaru'

In [ ]:
lst = [22,4,5,2,]