# Working with Lists

In [1]:
magicians = ['alice', 'david', 'carolina']

In [2]:
for magician in magicians:
    print(magician)

alice
david
carolina

In [3]:
for chr in 'banana':
    print(chr )

b
a
n
a
n
a

In [5]:
for value in range(-1, 10):
    print(value)

-1
0
1
2
3
4
5
6
7
8
9

In [8]:
list(range(1,6))

[1, 2, 3, 4, 5]

In [10]:
list(range(1,10,3 ))

[1, 4, 7]

In [11]:
for value in range(1,9):
    print(value )

1
2
3
4
5
6
7
8

In [12]:
for value in list(range(1,9)):
    print(value )

1
2
3
4
5
6
7
8

In [13]:
# List Comprehensions

In [14]:
squares = [value ** 2 for value in range(1,10)]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [15]:
x = [y ** 3 for y in range(1,9)]

In [16]:
x

[1, 8, 27, 64, 125, 216, 343, 512]

In [20]:
# list comprehension 

x = [i * 2 for i in range(1, 10)]
x

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [21]:
# Slicing lists

In [23]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
players

['charles', 'martina', 'michael', 'florence', 'eli']

In [28]:
players[0:9]

['charles', 'martina', 'michael', 'florence', 'eli']

In [34]:
my_foods = ['pizza', 'falafel', 'carrot cake']
friend_foods = my_foods[:]

In [35]:
my_foods.append('chicken')

In [36]:
my_foods

['pizza', 'falafel', 'carrot cake', 'chicken']

In [37]:
friend_foods

['pizza', 'falafel', 'carrot cake']

# Tuples

In [38]:
dimensions = (63, 100 )

In [39]:
dimensions[0], dimensions[1]

(63, 100)

In [40]:
my_foods, friend_foods

(['pizza', 'falafel', 'carrot cake', 'chicken'],
 ['pizza', 'falafel', 'carrot cake'])

In [41]:
dimensions[0] = 10

TypeError: 'tuple' object does not support item assignment

In [42]:
for dimension in dimensions:
    print(dimension)

63
100

In [44]:
print("Original dimensions:")
for dimension in dimensions:
    print(dimension)

Original dimensions:
63
100

In [46]:
dimensions = (20, 18)
for dimension in dimensions:
    print(dimension)

20
18